networkx==3.1
matplotlib==3.8.0
numpy==1.26.4
pandas==2.1.4
scipy==1.10.1
scikit-learn==1.5.2
nltk==3.8.1
vaderSentiment==3.3.2
netwulf==0.1.5
python-louvain==0.16
cpi==2.0.10
spacy==3.7.4
wordcloud==1.9.6
tqdm==4.65.0
